html {
    text-align: center;
    background-image: linear-gradient(#0011ff, #6f00ff);
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    background-color: #3643fd;
    padding: 0.5em 0;
}
.nav-list, .footer-nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.nav-list li {
    padding: 0.5em;
    background-color: #007e2a;
    box-shadow: 1px 1px 1px #00ff0d;
    transform: initial;
    transition: transform 1s ease-in-out;
}
.nav-list li:hover {
    transform: scale(1.2);
}
.nav-list li a {
    text-decoration: none;
}
header h1 {
    color: #fff;
    font-size: 3vw;
}
header h1:nth-child(2) {
    margin-top: -0.5em;
    font-size: 2vw;
}
header h1:nth-child(2) a, .nav-list li a:link, .footer-nav ul li a:link {
    color: #fff;
}
.nav-list li a:hover {
    color: #ff00ff;
}
.nav-list li a:active {
    color: #a45fff;
}
.nav-list li a:visited {
    color: #f1c1ff;
}
.basic-section {
    padding: 0 3em;
    background: #b49fb1;
}
.city-aside {
    background-color: #fa66ff;
    padding: 1em;
    font-size: 12px;
}
footer h3 {
    font-size: 1.5vw;
}
.footer-nav ul li {
    font-size: 1.9vw
}

@media screen and (min-width: 750px) {
    .basic-section article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
    }
    .basic-section article section:nth-child(2) {
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .basic-section article .city-aside {
        grid-row: span 2 / span 2;
        grid-column-start: 2;
        grid-row-start: 1;
    }
    .city-aside {
        background-color: #fa66ff;
        padding: 1em;
        font-size: 2vw;
    }
}